In [1]:
import pandas as pd
import numpy as np

In [5]:
 df = pd.read_csv('/content/drive/MyDrive/projects/credits.csv')
 df.head(5)

   person_id       id                name                  character   role
0       3180  tm82169  Sylvester Stallone      Robert "Rocky" Balboa  ACTOR
1       7748  tm82169         Talia Shire  Adrianna "Adrian" Pennino  ACTOR
2       7749  tm82169          Burt Young             Paulie Pennino  ACTOR
3       7750  tm82169       Carl Weathers               Apollo Creed  ACTOR
4       7751  tm82169    Burgess Meredith            Mickey Goldmill  ACTOR

In [8]:
df2 = pd.read_csv('/content/drive/MyDrive/projects/titles.csv')
df2.head(3)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.601,NaN
1,tm82169,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"['drama', 'sport']",['US'],NaN,tt0075148,8.1,588100.0,106.361,7.782
2,tm17823,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"['romance', 'comedy']",['US'],NaN,tt0077631,7.2,283316.0,33.160,7.406

In [12]:
df.isnull()

       person_id     id   name  character   role
0          False  False  False      False  False
1          False  False  False      False  False
2          False  False  False      False  False
3          False  False  False      False  False
4          False  False  False      False  False
...          ...    ...    ...        ...    ...
81350      False  False  False      False  False
81351      False  False  False      False  False
81352      False  False  False      False  False
81353      False  False  False      False  False
81354      False  False  False       True  False

[81355 rows x 5 columns]